body,
html {
  font-family: "Ropa Sans", sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
}

header,
footer {
  background-color: #333;
  color: #fff;
  height: 10%;
}
nav {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

nav a {
  color: white;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

main {
  height: 80%;
}
#randomPageView {
  height: 100%;
}
#randomPageView .header {
  font-family: "Protest Revolution", sans-serif;
  height: 10%;
  margin: 0;
  text-align: center;
  font-size: 2em;
}

#randomPageView #beerCard {
  margin: 0;
  height: 90%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

#randomPageView #beerPhoto {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 90%;
}
#randomPageView #beerPhoto img {
  max-height: 50%;
}

#randomPageView #beerName {
  text-align: center;
  font-size: 1em;
  height: 10%;
  width: 50%;
}

#randomPageView #beerInfo {
  width: 50%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
#randomPageView #beerInfo p {
  margin: 0;
  width: 80%;
  font-size: 1.5rem;
}

#randomPageView #moreInfoLink {
  width: 50%;
  height: 10%;
}

#randomPageView #moreInfoLink a {
  color: #333;
  border: none;
  font-size: 1rem;
  text-align: left;
}

#randomPageView #moreInfoLink:hover {
  color: #555;
  font-size: 1.1rem;
}
