body,
html {
  font-family: "Protest Revolution", sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
}

header,
footer {
  background-color: #333;
  color: #fff;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  height: 80%;
}

.header {
  height: 10%;
  margin: 0;
  text-align: center;
  font-size: 2em;
}

#beerCard {
  margin: 0;
  height: 90%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

#beerPhoto {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 90%;
}
#beerPhoto img {
  max-height: 50%;
}

#beerName {
  text-align: center;
  font-size: 1em;
  height: 10%;
  width: 50%;
}

#beerInfo {
  width: 50%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
#beerInfo p {
  margin: 0;
  width: 80%;
  font-size: 1.5rem;
}

#moreInfoLink {
  width: 50%;
  height: 10%;
}

#moreInfoLink a {
  color: #333;
  border: none;
  font-size: 1rem;
  text-align: left;
}

#moreInfoLink:hover {
  color: #555;
  font-size: 1.1rem;
}
